html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none; /* Убрать подчеркивание */
  color: inherit; /* Использовать цвет родительского элемента */
  cursor: pointer; /* Изменить курсор при наведении */
}

body {
  display: flex;
  justify-content: center;
  margin: 0;

  font-family: "Gilroy";
  font-style: normal;
  background-color: #fff;
  color: #212121;
}
h1,
h2,
h3,
p {
  margin: 0;
}

.wrap {
  display: flex;
  align-items: center;
  flex-direction: column;

  min-height: 100vh;
  max-width: 1340px;
}

/* ====== header stiles ====== */

.header {
  height: 48px;
  margin-top: 22px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  position: relative;
}

.header__block {
  display: flex;
  align-items: center;
  z-index: 50;
}

.header__logo {
  padding-right: 16px;
}

.header__localization {
  padding-right: 299px;
}

.header__lan {
  padding-right: 4px;
}
.header__vector {
  padding-bottom: 3px;
}

.header__nav {
  padding-right: 326px;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
}

.header__link:not(:last-child) {
  margin-right: 72px;
}

.header__button {
  padding: 12px 19.35px;
  background: #ffffff;
  border-radius: 19.2px;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
}

.header-decor__square,
.header-decor__img,
.header-decor__desktop,
.header-decor__phone {
  position: absolute;
  z-index: 1;
}

.header-decor__square {
  top: -80px;
  right: -495px;
  width: 1031.82px;
  height: 1049.93px;
}

.header-decor__square--red {
  background: rgba(251, 36, 43, 0.6);
  border-radius: 136.463px;
  transform: rotate(-45deg);
}
.header-decor__img {
  top: -20px;
  right: -345px;
}

.header-decor__desktop,
.header-decor__phone {
  z-index: 2;
  /* transform: rotate(-8deg); */
}
.header-decor__desktop {
  /* width: 762px; */
  width: 830px;

  top: 40px;
  right: -305px;
}
.header-decor__phone {
  width: 240px;

  top: 320px;
  right: 430px;
}

/* ====== main stiles ====== */

.container {
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-top: 200px;

  position: relative;
}

.container__item {
  z-index: 50;
}
.container__item:not(:first-child) {
  margin-top: 414px;
}

.conteiner__rectangle {
  position: absolute;
  top: 500px;
  z-index: 1;

  background: #f7f7f7;
  transform: rotate(-8deg);
}

.container__title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 54px;
}

.container__title--first {
  font-size: 48px;
  line-height: 59px;
}

.container__title--primary {
  color: #ff474d;
}

.container__text {
  margin-top: 16px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #5c5c5c;
}

.conteiner-button {
  margin-top: 47px;
}

.container__button {
  padding: 15px 32px;
  background: #ffffff;
  border-radius: 18px;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.container__button--primary {
  background: #ff474d;
  color: #ffffff;
  font-size: 20px;
  line-height: 25px;
}

.container__slogan {
  display: flex;
  margin-top: 28px;
  margin-left: 44px;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.container__slogan > img {
  margin-left: 8px;
  padding-bottom: 4px;
}

.container__item--even {
  display: flex;
  width: 100%;
}

.content-block {
  width: 100%;
  z-index: 50;
}

.container__button > img {
  margin-right: 8px;
}

.content-block .flex {
  display: flex;
  flex-direction: column;
}

.content-block__item {
  height: 110px;
  width: 272px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

  background: #ffffff;
  border-radius: 19.0256px;
  transform: matrix(0.99, 0.14, -0.14, 0.99, 0, 0);
}

.content-block__title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 20.6111px;
  line-height: 26px;
}

.content-block__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

.content-block__title--first {
  margin-top: -25px;
  margin-left: 30px;
}
.content-block__title--second {
  margin-top: 24px;
  margin-left: 214px;
}
.content-block__title--third {
  margin-top: -5px;
}
